<div class="full-width header-color">
    <div class="header margin">
        <a href="https://user.muxixyz.com">
        <svg class="logo">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo">
            </use>
        </svg>
        </a>
        <a href="http://ccnubox.muxixyz.com/" class="share word word-change">华师匣子</a>
        <a href="www.muxixyz.com" class="studio word word-change">木犀团队</a>
        <a href="http://xueer.muxixyz.com" class="word word-change">学而</a>
    </div>
</div>