@import "./utility.scss";

html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Tahoma, Arial, "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
}

a {
    text-decoration: none;
    color: #2b4755;
    margin: 0;
    padding: 0;
}

input,
button {
    outline: 0;
    border: 0;
}

.wrap {
    height: 100%;
}
