.vertical-align {
    vertical-align: middle;
}

.text-align {
    text-align: center;
}

.margin {
    margin: 0 auto;
}

.inline-block {
    display: inline-block;
}

.transparent {
    background-color: transparent;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}


