.vertical-align {
    vertical-align: middle;
}

.text-align {
    text-align: center;
}

.margin {
    margin: 0 auto;
}

.inline-block {
    display: inline-block;
}

.transparent {
    background-color: transparent;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.orange-color {
    background-color: #ff860d;
}

.blue-color {
    background-color: #afdce1;
}

.tip-color {
    color: #aa3e21;
}

.min-font {
    font-size: 12px;
}
